body {
    background: linear-gradient(to bottom, black 23%, rgb(129, 126, 126) 40%, black 80%);
    color: white;
}
.nav-item:hover, .rounded-circle:hover {
    transition: transform 0.5s ease;
    transform: scale(1.2);
}
.rounded-circle {
    width: 210px;
    height: 200px;
}

h2 {
    text-align: center;
    margin-top: 2em;
    text-decoration: underline;
}

.card {
    width: 300px;
    height: 440px;
    color: black;
    font-size: 13px;
    border-radius: 10px;
}
.card:hover {
    transition: transform .5s ease;
    transform: scale(1.05);
}
.card-img-top {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.col img {
    width: 80px;
    height: 80px;
}

.btn {
    width: auto;
}

.aboutme {
    padding-left: 2em;
    width: 600px;
    margin-top: 2em;
}

.skills-list {
    color: black;
}

footer, .social {
    color: white;
}
.social:hover {
    color:rgb(185, 181, 181);
}

.animation {
    background: linear-gradient(rgb(19, 18, 18),rgb(40, 40, 41),rgb(110, 109, 109));
    width:80%;
    height:345px;
    border-radius: 50%;
    position:absolute;
    animation: bounceAround 1s alternate-reverse infinite;
    z-index: -1;
    margin:auto;
   }
  
  @keyframes bounceAround {
    0% {transform:translateX(10%) rotate(360deg);}  
    /* 50% {transform:translateX(20px) rotate(360deg)} */
    100%{transform: translateX(15%) rotate(360deg);}
    /* from {bottom: 0px;}
    to {bottom: 400px;} */
  }
